body {
    background: radial-gradient(circle, gray, black);
    color: white; /* Letras brancas */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    width: 30rem;
    height: 50rem;
    margin: 0 auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title.large {
    font-size: 40px; 
  }

  .subtitle{
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .roomBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .roomList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
  }
  
  .roomList li {
    margin-bottom: 10px;
  }
  
  .roomList a {
    color: white;
    text-decoration: none;
  }
  
  .roomList a:hover {
    cursor: pointer;
  }

  #loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
  }

  .loadingAnimation {
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

li a:hover {
  background-color: #ccc;
}

.list-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.list-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.list-bar button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.list-bar button:hover {
  background-color: #0056b3;
}
  
  